body{
  font-size: 38px;
}
dl{
  margin-left: 50px;
}
h1{
  color: #1a1814;;
  font-size: 64px;
  margin: 125px 0 50px;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 45px;
  margin-bottom: 80px;
}